body
{
	background-color:white;
	margin:0;
	padding:0;
}

#loginspace
{
	background-color:black;
	min-width:1920px;
	height:114px;
	/*box-shadow:5px 5px 5px black;*/
}

#logoimg
{
	margin:5px 0 0 150px;
	padding-top:5px;
	height:96px;
	width:140px;
}

#maintext
{
	float:left;
	height:53px;
	padding:30px 30px;
	font-size:40px;	
	color:#009900;
}

#blank
{
	float:left;
	width:422px;
	height:113px;
}

#login
{
	float:right;
	height:25px;
	padding:44px 30px;
	margin:0px 150px 0px 0px;
	width:auto;
}

#formlog
{
	color:#009900;
	font-family:Calibri Serif;
}

#formlog input
{
	width:250px;
	height:20px;
	border-radius:4px;
	border:2px solid #009900;
	color:black;
}

#formlog button
{
	background-color:#009900;
	border:1px solid ; 
	border-radius:3px;
}

#formlog button:hover
{
	background-color:#00AA00;
	
}

#formlog button:active
{
	background-color:white;
}

#formlog input:focus
{
	background-color:#009900;
}

#mid
{
	float:left;
	height:796px;
	min-width:1920px;
	background:-webkit-radial-gradient(lightblue,#112233);
}

#content
{
	font-family:Calibri;
	font-size:30px;
	min-width:1820px;
	background-color:#00AA00;
	box-shadow:3px 3px 3px black;
	margin:50px;
	text-align:center;
}

#blank2
{
	background-color:red;
	float:left;
	min-width:650px;
}

#signup
{
	width:700px;
	height:450px;
	margin:100px auto;
	box-shadow: 5px 5px 5px black;
	border-radius:10px;
	border:4px solid black; 
	background-color:#ccc;
}

h2
{
	background-color:#009900;
	width:75%;
	box-shadow:0px 2px 2px black;
}

#form2
{
	width:600px;
}

#form2 input
{
	width:100%;
	height:40px;
	border-radius:5px;
	font-size:20px;
	box-shadow:inset 2px 2px 2px black;
	padding-left:7px;
}

#form2 input:focus
{
	background-color:#009900;
}

#form2 button
{
	width:30%;
	margin:50px auto;
	font-size:20px;
	font-family:Calibri;
	height:50px;
	background-color:#009900;
	border-radius:5px;
	border-color:black;
	box-shadow:2px 2px 2px black;
}

#form2 button:hover
{
	background-color:#00AA00;
	box-shadow:5px 5px 5px black;
}

#footer
{
	height:106px;
	min-width:1920px;
	bottom:0;
	background-color:black;
}